* {
  box-sizing: border-box;
}

body {
  background: url(./fall-lake.jpg) no-repeat fixed;
  background-size: cover;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header h1 {
  text-align: center;
  font-size: 3rem;
  margin: 12px 0;
  line-height: 3.2rem;
}
header {
  width: 60%;
  margin: 0 auto;
}
.tracker {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tracker p {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(245, 245, 245);
  margin: 0;
}
button:hover,
input:hover {
  cursor: pointer;
}
.start-screen {
  display: none;
  width: 60%;
  margin: 50px auto 10px auto;
  text-align: center;
  background-color: rgba(214, 213, 213, 0.6);
  padding: 24px 15px 39px 15px;
}

.startButton {
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding: 9px 24px;
  margin: 24px auto;
  border-radius: 6px;
}
.startButton:hover,
.submit-button:hover {
  cursor: pointer;
  color: rgb(94, 93, 93);
  background-color: lightgrey;
}

.question-screen,
.correct-screen,
.wrong-screen,
.result-screen {
  display: none;
  width: 60%;
  margin: 30px auto 10px auto;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  background-color: #d6d5d599;
  padding: 24px 12px 24px 12px;
}
h2 {
  font-size: 2rem;
  margin: 9px 0;
}
form {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: left;
  margin: 0 4vw;
  line-height: 2.4rem;
}
form p {
  margin: 15px 0;
  line-height: 1.9rem;
}
label {
  display: block;
}
input[type=radio] {
  width: 3vw;
  height: 3vh;
}
.correctAnswer,
.correctFeedback,
.finalTally {
  font-size: 2rem;
  font-style: italic;
}
.submit-button,
.nextQuestion,
.restart-button {
  font-size: 1.2rem;
  padding: 6px 18px;
  margin: 30px auto;
  border-radius: 6px;
}

@media only screen and (max-width: 600px) {
  header {
    width: 90%;
  }
  .start-screen {
    width: 90%;
  }
  .question-screen,
  .correct-screen,
  .wrong-screen,
  .result-screen {
    width: 90%;
   font-size: 1.2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  form {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  form p {
    line-height: 1.5rem;
  }
  .submit-button,
  .nextQuestion,
  .restart-button {
    font-size: 1rem;
    border-radius: 6px;
  }
}
